<div class="<%= DesignSystemHelper::CONTAINER_WIDE %> py-20">
  <div class="mb-12">
    <h1 class="<%= DesignSystemHelper::TEXT_HEADING %> <%= DesignSystemHelper::TEXT_PRIMARY %> mb-4">Users</h1>
    <p class="<%= DesignSystemHelper::TEXT_BODY %> <%= DesignSystemHelper::TEXT_SECONDARY %>">Manage user accounts and subscriptions</p>
  </div>
  
  <div class="<%= DesignSystemHelper::CARD %>">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-primary-700/50">
        <thead class="bg-primary-700/20">
          <tr>
            <th class="px-8 py-6 text-left <%= DesignSystemHelper::TEXT_BODY_SM %> font-semibold <%= DesignSystemHelper::TEXT_SECONDARY %>">User</th>
            <th class="px-8 py-6 text-left <%= DesignSystemHelper::TEXT_BODY_SM %> font-semibold <%= DesignSystemHelper::TEXT_SECONDARY %>">Plan</th>
            <th class="px-8 py-6 text-left <%= DesignSystemHelper::TEXT_BODY_SM %> font-semibold <%= DesignSystemHelper::TEXT_SECONDARY %>">Status</th>
            <th class="px-8 py-6 text-left <%= DesignSystemHelper::TEXT_BODY_SM %> font-semibold <%= DesignSystemHelper::TEXT_SECONDARY %>">Created</th>
            <th class="relative py-6 pl-3 pr-6">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-primary-700/30">
          <% @users.each do |user| %>
            <tr class="hover:bg-primary-700/20 transition-colors">
              <td class="whitespace-nowrap px-8 py-6">
                <div>
                  <div class="<%= DesignSystemHelper::TEXT_BODY %> font-medium <%= DesignSystemHelper::TEXT_PRIMARY %>"><%= user.email %></div>
                  <% if user.admin? %>
                    <span class="<%= DesignSystemHelper::BADGE_PRIMARY %> mt-2">
                      Admin
                    </span>
                  <% end %>
                </div>
              </td>
              <td class="whitespace-nowrap px-8 py-6 <%= DesignSystemHelper::TEXT_BODY %> <%= DesignSystemHelper::TEXT_MUTED %>">
                <%= user.subscription&.plan&.name || "No Plan" %>
              </td>
              <td class="whitespace-nowrap px-8 py-6">
                <% if user.subscription %>
                  <% if user.subscription.trialing? %>
                    <span class="<%= DesignSystemHelper::BADGE_WARNING %>">
                      Trial (<%= user.subscription.days_remaining_in_trial %> days)
                    </span>
                  <% elsif user.subscription.active? %>
                    <span class="<%= DesignSystemHelper::BADGE_SUCCESS %>">
                      Active
                    </span>
                  <% else %>
                    <span class="inline-flex items-center px-4 py-2 <%= DesignSystemHelper::TEXT_CAPTION %> font-semibold rounded-full bg-primary-700/50 <%= DesignSystemHelper::TEXT_SECONDARY %>">
                      <%= user.subscription.status.humanize %>
                    </span>
                  <% end %>
                <% else %>
                  <span class="<%= DesignSystemHelper::TEXT_BODY %> <%= DesignSystemHelper::TEXT_MUTED %>">No subscription</span>
                <% end %>
              </td>
              <td class="whitespace-nowrap px-8 py-6 <%= DesignSystemHelper::TEXT_BODY %> <%= DesignSystemHelper::TEXT_MUTED %>">
                <%= user.created_at.strftime("%b %d, %Y") %>
              </td>
              <td class="relative whitespace-nowrap py-6 pl-3 pr-6 text-right">
                <%= link_to "View", admin_user_path(user), class: "#{DesignSystemHelper::LINK_SUBTLE} mr-6" %>
                <%= link_to "Edit", edit_admin_user_path(user), class: DesignSystemHelper::LINK_SUBTLE %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>